<!-- <h1>Unapproved Project</h1> -->
<!-- <div>
  <a mat-button href="wo/dashboard">Back to the Dashboard</a>
  <mat-horizontal-stepper> -->

    <!-- Step #1: Overview of the project-->
    <!-- <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Overview of the project</ng-template>
        <div>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ this.projectData.state.data.projectName }} 
              </mat-card-title>
              <mat-card-subtitle>
                ID 
                <em>
                  {{ projectId }}
                </em>
                <div>
                  <strong>
                    UIC Project Number 
                  </strong>
                  <em>
                    {{ this.projectData.state.data.UICProjectNumber }}
                  </em>
                </div>
                <div>
                  <strong>
                    Status
                  </strong>
                  <em>
                    {{ this.projectData.state.data.status }}
                  </em>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-divider></mat-divider>
          <br>
          <mat-card>
            <h2>Wells in Project</h2>
            <overview-table [data]="wellData" [col]="wellCol"></overview-table>
          </mat-card>
        </div>
      </form>
      <br>
      <button mat-button matStepperNext>Next Step</button>
    </mat-step> -->

    <!-- Step #2: Edit wells in the project-->
    <!-- <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel> Edit wells in the project</ng-template>
        <div>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ this.projectData.state.data.projectName }} 
              </mat-card-title>
              <mat-card-subtitle>
                ID 
                <em>
                  {{ projectId }}
                </em>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <br>
          <mat-card><selection-table [col]="wellCol"></selection-table></mat-card>
          <br>
          <mat-card>
            <p>Select wells to remove</p>
            <selection-list></selection-list>
          </mat-card>
        </div>
      </form>
      <br>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next Step</button>
    </mat-step> -->
    
    <!-- Step #3: Review changes-->
    <!-- <mat-step>
      <form>
        <ng-template matStepLabel>Review changes</ng-template>
        <div>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Project Name {{ firstFormGroup.value.projectName }} 
              </mat-card-title>
              <mat-card-subtitle>
                Project Hash 0000000000000
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <br>
          <mat-card>
            <overview-table [data]="sampleData" [col]="wellCol"></overview-table>
          </mat-card>
        </div>
      </form>
      <br>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Save Draft</button>
      <button mat-button matStepperNext>Next Step</button>
    </mat-step> -->

    <!-- Step #4: Confirmation-->
      <!-- <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <br>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Submit</button>
      </mat-step> -->
  <!-- </mat-horizontal-stepper>
</div> -->

<a mat-button href="wo/dashboard">Back to the Dashboard</a>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ this.projectData.state.data.projectName }} 
      </mat-card-title>
      <mat-card-subtitle>
        <strong>
          ID 
        </strong>
        <em>
          {{ projectId }}
        </em>
        <div>
          <strong>
            UIC Project Number 
          </strong>
          <em>
            {{ this.projectData.state.data.UICProjectNumber }}
          </em>
        </div>
        <div>
          <strong>
            Status
          </strong>
          <em>
            {{ this.projectData.state.data.status }}
          </em>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
  <br>
  <mat-card>
    <h2>Wells in Project</h2>
    <expanding-table [data]="wellData" [col]="wellCol" [wellTable]="true"></expanding-table>
  </mat-card>
</div>
